html, body{
    height: 100%;
}

button {
    font-size: larger;
}

#Content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#Calculator {
    display: grid;
    margin: auto;
    border: 4px solid black;
    padding: 15px;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: repeat(7,50px);
    grid-template-areas: "display display display display"
                         "display display display display"
                         "CLEAR CLEAR ERASE ERASE"
                         "Number7 Number8 Number9 Divide"
                         "Number4 Number5 Number6 Multiply"
                         "Number1 Number2 Number3 Substract"
                         "Number0 Dot Equal Add";
    
}

#display {
    grid-area: display;
    border: 2px solid red;
    margin-bottom: 20px;
}